.card {
  width: fit-content;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(144px);
  text-align: center;
  padding: 15px;
  border-radius: 20px;
}
.priceTag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
